.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.card {
  width: 5vw;
  margin: 0 2vh;
  min-width: 150px;
  padding: 1vw;
  /* padding: 1vw;
  display: flex;
  width: 10vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center; */
}
.card:hover {
  cursor: pointer;
  border-radius: 1rem;
  background-color: #e9412b80;
}
a {
  color: #1b2d51;
  text-decoration: none;
}
/* .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

/* .containerr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.cardd {
  width: 9vw;
  margin: 0 5px;
  min-width: 150px;
  padding: 1vw;
} */
@media only screen and (max-width: 600px) {
}
