.container {
  display: flex;
  justify-content: center;
  gap: 1.5vw;
  /* margin-top:100vh ; */
}
.card {
  padding: 1vw;
}
.card:hover {
  cursor: pointer;
  border-radius: 1rem;
  background-color: #e9412b80;
}
/* .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */
