.container {
  position: relative;
  margin-top: 5%;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4vh;
}
.product {
  padding: 3rem;
  margin-bottom: 1rem;
  /* text-align: center; */
  height: 20%;
  width: 40vh;
  background-color: #f7f7f7;
  /* box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75); */
  animation: moveInRight 2s;
  /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
}
.product img {
  width: 100%;
}
h1 {
  font-weight: 700;
  font-size: 3rem;
}
.background {
  background-color: #1b2d51b9;
  height: 20vh;
  width: 120%;
  position: absolute;
  top: 60%;
  left: 0%;
  z-index: -1;
}
.heading {
  padding-top: 3rem;
  margin-right: 6.5rem;
  font-size: 2rem;
  text-align: right;
  font-weight: 900;
  font-size: 3rem;
}
