.header {
  /* background-color: #1d1c1c91; #e9412b61, #1b2d51b3*/
  /* background: url("/es.jpg"); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: row;
  position: relative;
  /* margin-bottom: 9.9vh; */
}
.header > div {
  width: 50%;
}
.left {
  color: #1b2d51;
  background-color: #fff;
}
.right {
  display: flex;
  justify-content: center;
  /* background-color: #1b2d519d; */
}
.header .logo {
  position: absolute;
  top: 0rem;
}
.header .logo img {
  width: 8rem;
}
/* .header .breaker img {
  background: red;
  height: 100vh;
  position: absolute;
  left: 20vh;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
} */
.header .menu {
  /* background: red;
  height: 100vh;
  margin-top: 3vh;
  margin-left: 200vh;
  position: fixed;
  z-index: 2;
  padding: 2vh;
  background-color: #fff;
  border-radius: 50%; */
  text-align: center;
  /* position: absolute;
  top:2vh;
  right: 2vh; */
  /* cursor: pointer; */
  /* clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); */
}
.box {
  position: absolute;
  top: 40%;
  left: 30%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: "Kufam", sans-serif;
}
.title {
  font-size: 6rem;
  font-weight: 900;
  animation: moveInLeft 2s;
  /* transition: moveInleft 2s; */
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

.sub {
  /* font-weight: 100; */
  font-size: 2rem;
  margin-top: 2rem;
  animation: moveInRight 2s;
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
button {
  padding: 0.7rem 1.6rem;
  border-radius: 5rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #fbf7f7;
  margin-top: 2rem;
  background: rgba(255, 255, 255, 0);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  border-radius: 2.8rem;
  /* font-family: Arial; */
  color: #f6f5f5;
  font-size: 2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  /* border: none; */
  cursor: pointer;
  animation: moveInTop 2s;
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(15rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

button:hover {
  transform: scale(1.5);
}

.menu {
  position: absolute;
  width: 35vw;
  top: 75%;
  left: 10%;
  /* transform: translate(50%, 50%); */
  min-width: 440px;
}
.backgroun {
  height: 100vh;
  width: 20vw;
  background-color: #1b2d51;
}
.backgroun img {
  position: absolute;
  top: -2%;
  right: 0.5%;
  height: 650px;
  width: 60vw;
}
@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;}
  .right {
    display: none;
  }
  .left {
    display: flex;
    justify-content: center;
  }
  .box {
    position: absolute;
    top: 40vh;
    left: 25vh;
    /* transform: translate(-50%, -50%); */
  }
  .menu{
    position: absolute;
    left: -10%;
  }
}
