.card {
  padding-left: 2rem;
  background-color: #ffff;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: right;
  margin: 20vh;
  position: relative;
}
.rightImg img {
  width: 30vw;
}

.blueRight {
  width: 15vw;
  position: absolute;
  top: 130vh;
  right: -8vh;
  transform: rotate(-90deg);
}
.redRight {
  width: 15vw;
  position: absolute;
  top: 150vh;
  right: -8vh;
  transform: rotate(-90deg);
}

.blueLeft {
  width: 15vw;
  position: absolute;
  top: 150vh;
  left: -8vh;
  transform: rotate(-90deg);
}

.redLeft {
  width: 15vw;
  position: absolute;
  top: 130vh;
  left: -8vh;
  transform: rotate(-90deg);
}
