.container {
  position: relative;
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  /* padding: 10rem; */
  /* background-image: url(es.jpg); */
  /* align-items: center; */
  /* background: linear-gradient(to right top,#58aea5,#1b2d51); */
}
.card {
  /* padding-left: .1rem; */
  /*  */
  /* background: rgba(245, 245, 245, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(243, 243, 243, 0.4); */
  /*  */
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  /* flex-wrap: wrap; */
  align-items: center;
  /* margin: 15vw; */
}
.heading {
  padding-bottom: 3rem;
  /* margin-right: 6.5rem; */
  /* font-size: 2rem; */
  text-align: center;
  /* font-weight: 100; */
  font-size: 3rem;
  font-family: "Kufam";
}

.card div {
  text-align: right;
}
.card > div {
  width: 50%;
}
.rightImg img {
  /* width: 30vw; */
  width: 550px;
  /* margin-left: 8rem; */
}

.blueRight {
  width: 15vw;
  position: absolute;
  top: 10vh;
  right: -8vw;
  transform: rotate(-90deg);
}
.redRight {
  width: 15vw;
  position: absolute;
  top: 30vh;
  right: -8vw;
  transform: rotate(-90deg);
}

.blueLeft {
  width: 15vw;
  position: absolute;
  top: 30vh;
  left: -8vw;
  transform: rotate(-90deg);
}

.redLeft {
  width: 15vw;
  position: absolute;
  top: 10vh;
  left: -8vw;
  transform: rotate(-90deg);
}

/* .backImg {
  background-image: url('./border.png');
} */
/* @media (max-width: 800px) {
  .card{
    flex-direction: column;
  }
} */
