.container {
  position: relative;
}
.card {
  padding-left: 2rem;
  /* background-color: rgb(210, 210, 210); */
  display: flex;
  flex-direction: row-reverse;
  /* flex-wrap: wrap; */
  align-items: center;
  text-align: right;
  margin: 20vh;
}
.rightImg img {
  width: 30vw;
}

.blueRight {
  width: 15vw;
  position: absolute;
  top: 10vh;
  right: -8vh;
  transform: rotate(-90deg);
}
.redRight {
  width: 15vw;
  position: absolute;
  top: 30vh;
  right: -8vh;
  transform: rotate(-90deg);
}

.blueLeft {
  width: 15vw;
  position: absolute;
  top: 30vh;
  left: -8vh;
  transform: rotate(-90deg);
}

.redLeft {
  width: 15vw;
  position: absolute;
  top: 10vh;
  left: -8vh;
  transform: rotate(-90deg);
}
