.footer {
  /* width: 100vw; */
  display: flex;
  flex-direction: row-reverse;
  background-color: #f7f7f7;
  text-align: right;
  justify-content: space-between;
  border-top: .2vh solid rgb(197, 188, 188);
}
.card {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.card p {
  margin-top: 1rem;
  margin-right: 1vh;
  display: inline;
}
.item{
  margin: .5rem;
}
.card a{
  margin-top: 2rem;
  color: black;
  text-decoration: none;
}
/* .title {
  display: block;
} */
.column {
  margin: 2rem;
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.column p {
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
}
.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}


